* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 100px;
    height: 100px;
    padding: 0 20px;
    color: #fff;
    position: fixed;
    z-index: 99;
    transition: 0.5s;
}

.header2 {
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
}
.logo{
    line-height: 100px;
    float: left;
    text-transform: uppercase;
    width: auto;
  }
  
  .menu{
    float: right;
    line-height: 100px;
  }
  .menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
  }
  .show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  .show-menu-btn{
    float: right;
  }
  .show-menu-btn i{
    line-height: 100px;
  }
  .menu a:hover,
  .show-menu-btn:hover,
  .hide-menu-btn:hover{
    color: #3498db;
  }
  
  #chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
  }

/*IMAGEN HEADER*/
.img-header {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
}
/*CONTACTO*/
.img-header-information {
    position: relative;
    background-position: center;
    background-size: cover;
    z-index: 1;
    height: 289px;
    width: 100%;
}
.img-header-information:before {
    width: calc(100%);
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}

ul {
    list-style: none;
}

label {
    color: #ffffff;
}

.container-header {
    height: 100%!important;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.degrade {
    height: 100%!important;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.bienvenido {
    position: absolute;
    padding: 50px;
    width: 50%;
    padding-top: 250px;
}

.img-header:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.bienvenido p i {
    width: 35px;
}

.bienvenido h1 {
    font-size: 4em;
    color: #fcf5f5;
    font-weight: 500;
    font-family: Blackadder ITC;
    text-align: left;
    display: inline-block;
}
.bienvenido h2
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-align: left;
    color: honeydew;
    text-align: center;
}
.bienvenido-information h1 {
    color: #fff;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 70px;
}
.container-header {
    height: 100%!important;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
}
.degrade {
    height: 100%!important;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.bienvenido-information {
    position: absolute;
    padding: 50px;
    width: 50%;
    padding-top: 150px;
}
.container-information {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}
.container-info {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.mapa-information {
    width: 600px;
    margin-left: 50.5px;
}
/*FORMULARIO DE CONTACTO*/
.div-info {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.formulario-information {
    width: 600px;
}
.div-titulo h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 40px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 50px;
}
.form-control {
    border: none;
    border-bottom: 1px solid #c1c1c1;
    border-radius: 0;
    margin-bottom: 20px;
    padding: 15px 0;
    font-size: 15px;
    line-height: 1;
    background-color: transparent;
    color: rgba(51, 51, 51, 0.60);
    display: block;
    width: 100%;
    background-image: none;
    background-clip: padding-box;
}
iframe{
    width: 100%;
}
input[type="submit"]{
    position: relative;
    padding: .5em 2em;
    border: 2px solid #6b6b6b;
    border-radius: 3px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 23px;
    font-weight: 500;
    line-height: 1.7em!important;
    transition: all .2s;
    color: #000000;
    border-radius: 3px;
    display: inline-block;
}
input[type="submit"]:hover{
    cursor: pointer;
}

/*boton*/

.btn-header {
    margin-top: 20px;
    padding: 5px;
    color: #000000
}

.btn {
    position: relative;
    padding: .5em 2em;
    border: 2px solid #ffffff;
    border-radius: 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 23px;
    font-weight: 500;
    line-height: 1.7em!important;
    transition: all .2s;
    color: #ffffff;
    border-radius: 3px;
    display: inline-block;
}

.btn:hover {
    background-color:#ffffff;
    border: 2px solid;
    color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 23px;
    font-weight: 500;
    line-height: 1.7em!important;
    transition: all .2s;
    border-radius: 3px;
    display: inline-block;
}

.btn:after {
    transition: all 300ms ease 0ms;
}

a {
    text-decoration: none;
}

/*section de informacion home*/

.section {
    padding-top: 20px;
    padding-bottom: 0px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    display: flex;
}

.section-imagen {
    box-sizing: border-box;
    width: 66%;
    background-color: yellow;
    display: flex;
}

.section-imagen img {
    width: 100%;
    float: left;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.section-informacion {
    width: 34%;
    float: left;
    box-sizing: border-box;
    background-color: #6b6b6b;
    padding-top: 10%;
    padding-right: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    order: 1;
    margin-right: 0!important;
}

.section-informacion h2 {
    padding-bottom: 10px;
    font-weight: 500;
    line-height: 1em;
    font-size: 23px;
    color: #ffffff;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.section-informacion p {
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 1.7em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: justify;
}

.btn-section a {
    position: relative;
    padding: .3em 1em;
    border: 2px solid;
    border-radius: 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em!important;
    color: #f2f2f2;
    display: inline-block;
}
.btnsectiondos{
    position: relative;
    padding: .3em 1em;
    border: 2px solid #6b6b6b;
    border-radius: 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em!important;
    color: #000000;
    display: inline-block;
}
/*Section de informacion despues de las cards*/

.section-inf {
    text-align: center;
    margin-bottom: 2.75%;
}

.section-info {
    width: 60%;
    max-width: 1080px;
    margin: auto;
    padding-top: 27px;
    padding-right: 0px;
    padding-bottom: 0;
    padding-left: 0px;
}

.section-info h1 {
    margin-bottom: 2.75%;
    font-size: 4em;
    color: #000000;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    position: relative;
}

.section-info p {
    margin: auto;
    padding: 0;
    font-size: 23px;
    vertical-align: baseline;
    line-height: 1.7em;
    letter-spacing: 1px;
}

.section-info2 {
    margin-bottom: 2.75%;
}

/*FOOTER*/

footer {
    width: 100%;
    background-color: #333333;
}

.container-footer {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo-redes {
    max-width: 400px;
}

.soporte {
    max-width: 400px;
}

.listas-footer {
    max-width: 400px;
}

.ciudades {
    max-width: 400px;
}

.copy {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 10px;
    color: white;
    display: block;
    font-size: 13px;
   margin-top: 10px;

}

.list-footer {
    padding: 4px 0;
    margin: auto;
    line-height: 20px;
    padding-left: 10px;
}

.a-footer {
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.h2-footer {
    padding: 20px;
    padding-left: 10px;
    margin: auto;
    font-size: 20px;
    color: white;
    /*margin: 0 0 20px;*/
    font-weight: 400;
}

.icon-social {
    color: white;
    margin: auto;
    font-size: 20px;
    padding: 4px 0;
    padding-left: 10px;
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    
}
/*Secion de contactanos*/
.section-info-sop {
    position: relative;
    background-size: cover;
    background-position: top;
    text-align: center;
    padding-bottom: 2rem;
    color: #fff;
    width: 100%;
    padding: 6rem 0;
    z-index: 98;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.section-info-sop h2 {
    padding-bottom: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.1rem;
    position: relative;
}
.section-info-sop h4 {
    margin-bottom: 1.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    font-size: 1.1rem;
}
.section-info-sop:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/*fecha*/
.hora 
{
    color: white;
    text-align: center;
    font-size: 18px;

}

/*imagene*/
figure
{
    display: block;
    width: 400px;
    height: auto;
    margin-bottom: 14px;
    }
  
    .containerimg 
    {
        margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

     
    }
    .containerimg img {
      width: 100%;

      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      padding-left: 30px;
    }
    .containerimg img:hover
    {
      -webkit-transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
      transform: rotateY(180deg);
      transform-style: preserve-3d;
    }





@media screen and (max-width:800px) 
{
    .show-menu-btn,.hide-menu-btn{
        display: block;
      }
      .logo{
          width: auto;
      }
      .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
      }
      .menu a{
        display: block;
        padding: 20px;
      }
      .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
      }
      #chk:checked ~ .menu{
        right: 0;
      }
      .section-info {
        width: 90%;
        max-width: 1080px;
        margin: auto;
        padding-top: 27px;
        padding-right: 0px;
        padding-bottom: 0;
        padding-left: 0px;
    }
      .section-info h1{
        font-size: 34px;
        margin-bottom: 30px;
        margin-top: 30px;
        padding: 30px 0;
    }
    .section-info p{
        font-size: 19px;
    }
    .container-footer, .container-info {
        flex-wrap: wrap;
    }
    .logo-redes {
        width: 100%;
    }
    .soporte, .listas-footer, .ciudades {
        margin-top: 40px;
    }
    .h2-footer {
        margin-bottom: 10px;
        padding: 10px;
    }
    .bienvenido {
        position: absolute;
        padding: 5px;
        padding-top: 220px;
        width: 60%;
        margin-left: 20px;
    }
    .bienvenido h1 {
        font-size: 2em;
       
    }
    
    .btn {
        margin-top: 20px;
    }
    .section {
        width: 100%!important;
        display: block;
    }
    .section-imagen {
        width: 100%!important;
        display: block;
        position: relative;
    }
    .section-informacion {
        width: 100%!important;
        display: block;
        position: relative;
    }
    /*CONTACTO */
    .bienvenido-information h1 {
        color: #fff;
        font-size: 45px;
        line-height: 1;
        margin-bottom: 70px;
    }
    iframe{
        width: 100%;
    }
    .mapa-information {
        width: 600px;
        margin: 0;
    }
    .information-div{
        width: auto;
    }
    .containerimg 
    {
        grid-template-columns: 1fr  ;
    }
}

