html 
{
  display: block;
}

header
{
  text-align: center;
    justify-content: center;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
}
.hf
{
  background-color:#ffefcc !important; 
  margin-bottom: 7px;
}

#logo img
{
    position:absolute;
    height:120px;
    width:190px;
    top: 2px;
    bottom: 1px;
    right : 500px;
   
}
#menus
{
  padding-top: 30px;
}
navbar
{
  color:rebeccapurple !important;
}

.fecha
{
  padding-left: 800px;
  font-size:  23px;
  font-family: cursive;
}
.hora
{
  padding-right: 800px;
  font-size:  23px;
  font-family: cursive;
  padding-top: 0%;
}
#titulo 
{
    text-align: center;
    padding-left: 370px;
    padding-top: 15px;
    padding-bottom: 65px;
    font-family: cursive;
    
}

.col-12
{
  margin: auto;
  text-align: left;
  padding-left: 300px;
  padding-right: 20px;
}
h1
{
    color:rebeccapurple;
}
footer
{
  background-color: bisque;
}
#logo
{
  width: 160px;
  justify-content: center;
  align-content: center;
}